body 
{
    direction:rtl;
}
#container {
    padding: 30px 50px;
}
p {
    font-size: 14pt; font-weight: bold; margin-bottom: 5px; margin-top: 15px;
}
input {
    width: 200px;
    font-size: 14pt;
}